*:not(.country-list){
    max-width: 100%;
}

body {
    background-color: #36A2FB;
    font-family: 'Noto Sans', sans-serif;
    word-wrap: break-word;
}

.section {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.301);
}

.country-name {
    color: black;
}

@media only screen and (min-width: 768px){
    .chart-container {
        position: relative;
        height: 70vh;
        width: 90%
    }
}

@media not screen and (min-width: 768px){
    .chart-container {
        position: relative;
        height: 60vh;
        width: 100%
    }
}

#loading-container {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#loading-spinner {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
}

.delete-country {
    display: inline;
    cursor: pointer;
}

/* .delete-country:hover {
    display: inline;
} */

#footer {
    display: inline-flex;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.back-link, .back-link:visited {
    text-decoration: none;
    position: relative;
    color: #0e1111;
}
.back-link:after, .back-link:visited:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: #0e1111;
    transition: 0.2s;
}

.back-link:hover:after, .back-link:visited:hover:after {
    width: 100%;
}

.back-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.strike-link {
    position: relative;
    /* display: block; */
    cursor: pointer;
}

.strike-link:before, .strike-link:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: black;
}
  
.strike-link:before {
    left: -2.5px;
}

.strike-link:after {
    right: 2.5px;
    background: black;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
.strike-link:hover:before {
    background: black;
    width: 100%;
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
.strike-link:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

canvas {
    background-image: url("/img/chart-background.png");
    background-repeat: repeat;
    /* background-size: auto; */
}

button#ihavecookiesBtn {
    margin-left: 0px !important;
}
/* Cookie Dialog */
#gdpr-cookie-message {
    position: fixed;
    right: 30px;
    bottom: 30px;
    max-width: 375px;
    background-color: #E173FF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.25);
    margin-left: 30px;
    font-family: system-ui;
}
#gdpr-cookie-message h4 {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
#gdpr-cookie-message h5 {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
#gdpr-cookie-message p, #gdpr-cookie-message ul {
    color: white;
    font-size: 15px;
    line-height: 1.5em;
}
#gdpr-cookie-message p:last-child {
    margin-bottom: 0;
    text-align: right;
}
#gdpr-cookie-message li {
    width: 49%;
    display: inline-block;
}
#gdpr-cookie-message a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 2px;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message a:hover {
    color: white;
    border-bottom-color: #36A2FB;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message button,
button#ihavecookiesBtn {
    border: none;
    background: #36A2FB;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    padding: 7px;
    border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message button:hover {
    background: white;
    color: #36A2FB;
    transition: all 0.3s ease-in;
}
button#gdpr-cookie-advanced {
    background: white;
    color: #36A2FB;
}
#gdpr-cookie-message button:disabled {
    opacity: 0.3;
}
#gdpr-cookie-message input[type="checkbox"] {
    float: none;
    margin-top: 0;
    margin-right: 5px;
}
